<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC1zPvEx7ycIhkZYUm-p3VKWLBIUAhqwVY</string>
	<key>GCM_SENDER_ID</key>
	<string>182554495108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CMU.stutterQuest</string>
	<key>PROJECT_ID</key>
	<string>stutterquest-d20e8</string>
	<key>STORAGE_BUCKET</key>
	<string>stutterquest-d20e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182554495108:ios:050a2f5686ec7bd4b7dad1</string>
</dict>
</plist>